.*.swp
.*.swo
.fullbuild

obj*
TAGS
tags
local-*
cscope*
files.list

Makefile.in
aclocal.m4
autom4te.cache
configure
config.h.in*
install-sh
missing
config.log
config.report

libtorrent/build-aux/
libtorrent/m4/libtool.m4
libtorrent/m4/ltoptions.m4
libtorrent/m4/ltsugar.m4
libtorrent/m4/ltversion.m4
libtorrent/m4/lt~obsolete.m4

scripts/py-compile

docs/*.pdf
docs/*.html
