.*.swp
.*.swo
.fullbuild

obj*
TAGS
tags
local-*
cscope*
files.list

Makefile.in
aclocal.m4
autom4te.cache
configure
config.h.in*
install-sh
missing
config.log
config.report

autotools/config.guess
autotools/config.sub
autotools/depcomp
autotools/install-sh
autotools/ltmain.sh
autotools/missing
autotools/py-compile

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
build-aux/

libtorrent/m4/libtool.m4
libtorrent/m4/ltoptions.m4
libtorrent/m4/ltsugar.m4
libtorrent/m4/ltversion.m4
libtorrent/m4/lt~obsolete.m4

scripts/py-compile

docs/*.pdf
docs/*.html
