Source: genetorrent
Section: net
Priority: extra
Maintainer: Matt Lupfer <mlupfer@cardinalpeak.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libxqilla-dev, libxerces-c-dev, libcurl4-openssl-dev, python-support, dos2unix, libssl-dev
Standards-Version: 3.9.2
Homepage: https://cghub.ucsc.edu/software/downloads.html

Package: genetorrent-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxqilla5, libssl1.0.0, libcurl3, ${python:Depends}
Description: Transfer genomic data reliably across a network

Package: genetorrent-upload
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxqilla5, libssl1.0.0, libcurl3, genetorrent-core (= @VERSION@-@DEB_DISTRO_TAG@)
Description: Transfer genomic data reliably across a network

Package: genetorrent-download
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxqilla5, libssl1.0.0, libcurl3, genetorrent-core (= @VERSION@-@DEB_DISTRO_TAG@) 
Description: Transfer genomic data reliably across a network

